body{
    background-color: rgb(240, 240, 240);
}
.a{
    width: 1200px;
    height: 120px;
    line-height: 120px;
    background-color: white;
    font-size: xx-large;
}
.a2{
    width: 550px;
    height: 100px;
    line-height: 100px;
    background-color: white;
    font-size: x-large;
}
.a3{
    width: 550px;
    height: 100px;
    line-height: 100px;
    background-color: white;
    font-size: x-large;
    margin-left: 80px !important;
}
.a4{
    margin-left: 280px;
}
.a5{
    margin-left: 270px;
}
.a6{
    margin-left: 310px;
}
.a7{
    margin-left: 360px;
}
.a8{
    margin-left: 320px;
}
.b1{
    width: 550px;
    height: 100px;
    line-height: 100px;
    background-color: white;
    font-size: x-large;
    margin-left: 650px;
}
.b2{
    margin-left: 400px;
}